DocumentRoot /efs
Options Indexes FollowSymLinks MultiViews
DirectoryIndex index.php index.html

NameVirtualHost *:80

<VirtualHost *:80>
  ServerName test.com
  DocumentRoot /efs/test.com
</VirtualHost>

<VirtualHost *:80>
  ServerName test2.com
  DocumentRoot /efs/test2.com
</VirtualHost>

<VirtualHost *:80>
  ServerName lb.ice-merchandise.com
  DocumentRoot /efs/lb.ice-merchandise.com
</VirtualHost>
